// Colors
$darkGrey: #323232;
$white: #f8f8ff;
$grey: #a9a9a9;
$black: #2f2f2f;
$blue: #6a9bff;

$backgroundDarker: #252627;
$backgroundDark: #292a2d;

//Fonts
$fontHeader: 'Iosevka', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Iosevka', monospace;

// Content
$breakLarge: 992px;
$width: 760px;
