<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        Home | {{ .Site.Params.author }}
    </title>

    {{ partial "head.html" . }}

    <meta property="og:url" content="https://uku3lig.net">
    <meta property="og:type" content="website">
    <meta property="og:title" content="uku's website">
    <meta property="og:description" content="hello how are you today i am going to install grapic on your computer">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/61147779">

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author }}</h1>
                    </div>
                    {{ partial "social.html" . }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>